
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^lokeshdidwania\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.lokeshdidwania\.com$
RewriteRule ^/?$ "https\:\/\/www\.lokeshdidwania\.com\/" [R=302,L]
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule !.*\.php$ %{REQUEST_FILENAME}.php [QSA,L]
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule !.*\.html$ %{REQUEST_FILENAME}.html [L]
