html{
    height: 100%;
}
body{
    text-align: center;
    background: linear-gradient(to right, orange, orange,magenta);
}
.loginform{
    width: 400px;
}
button{
    width: 70%;
}
#button1{
    background: linear-gradient(to right, magenta, orange,orange);
}

hr{
    border: 1px solid black;
}